.error-card {
  background-color: #b00020;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.todo-card-profile {
  padding: 3%;
  max-width: 80%;
  height: 50vh;
  display: flex;
  align-items: center;
  min-height: 400px;
  -webkit-text-fill-color: black;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;  // Adjust as needed
  border-style: outset; // This will ensure that the content of the card is always visible and not cut off by the browser

  &.software-design {
    background-color: rgb(250, 143, 131);
  }

  &.video-games {
    background-color: rgb(243, 243, 154);
  }

  &.groceries {
    background-color: rgb(164, 219, 164);
  }

  &.homework {
    background-color: rgb(191, 191, 246);

  }
}

.body-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}
